@page
@{
    ViewData["Title"] = "Home page";

<link href="~/css/slider.css" rel="stylesheet" />
<script src="~/js/Slider.js"></script>
<script src="~/js/SliderAuto.js"></script>
<link href="~/css/sliderAuto.css" rel="stylesheet" />
<link href="~/css/slide.css" rel="stylesheet" />
<script src="~/js/Slide.js"></script>
}

<html>
<head>
    <meta charset="utf-8" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .box {
            width: 100%;
            height: 100%;
            position: relative;
            color: #ffffff;
            font-size: 24pt;
        }

        .container, main {
            height: 100%;
        }
        * {
            margin: 0;
            padding: 0;
        }

        ul, li {
            list-style: none;
        }

        .slide {
            height: 300px;
            overflow: hidden;
        }

            .slide ul {
                height: 100%;
            }

            .slide li {
                height: 100%;
            }

                .slide li:nth-child(1) {
                    background-image: url('images/battlefield1.jpg');
                }

                .slide li:nth-child(2) {
                    background-image: url('images/battlefield2.jpg');
                }

                .slide li:nth-child(3) {
                    background-image: url('images/battlefield3.jpg');
                }

                .slide li:nth-child(4) {
                    background-image: url('images/battlefield4.jpg');
                }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/js/wheel.js"></script>
</head>
<body>
    <div class="box" style="background-color: red; ">
        <a href="#target1" class="scroll">Go to Page 5</a>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 5</div>
                <img src="~/Images/battlefield1.jpg" style="width:100%">
                <div class="text">Caption One</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 5</div>
                <img src="~/Images/battlefield2.jpg" style="width:100%">
                <div class="text">Caption Two</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 5</div>
                <img src="~/Images/battlefield3.jpg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">4 / 5</div>
                <img src="~/Images/battlefield4.jpg" style="width:100%">
                <div class="text">Caption Four</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">5 / 5</div>
                <img src="~/Images/battlefield5.jpg" style="width:100%">
                <div class="text">Caption Five</div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
    <div class="box" style="background-color:orange;">
        <div class="slideshow-container1">
            <div class="myAutoSlides1 fade1">
                <div class="numbertext1">1 / 5</div>
                <img src="~/Images/LOL1.jpg" style="width:100%">
                <div class="text1">Caption One</div>
            </div>

            <div class="myAutoSlides1 fade1">
                <div class="numbertext1">2 / 5</div>
                <img src="~/Images/LOL2.jpg" style="width:100%">
                <div class="text1">Caption Two</div>
            </div>

            <div class="myAutoSlides1 fade1">
                <div class="numbertext1">3 / 5</div>
                <img src="~/Images/LOL3.jpg" style="width:100%">
                <div class="text1">Caption Three</div>
            </div>

            <div class="myAutoSlides1 fade1">
                <div class="numbertext1">4 / 5</div>
                <img src="~/Images/LOL4.jpg" style="width:100%">
                <div class="text1">Caption Four</div>
            </div>

            <div class="myAutoSlides1 fade1">
                <div class="numbertext1">5 / 5</div>
                <img src="~/Images/LOL5.jpg" style="width:100%">
                <div class="text1">Caption Five</div>
            </div>
        </div>
        <br>

        <div style="text-align:center">
            <span class="autoDot"></span>
            <span class="autoDot"></span>
            <span class="autoDot"></span>
            <span class="autoDot"></span>
            <span class="autoDot"></span>
        </div>
    </div>
    <div class="box" style="background-color:yellow;">
        <div class="slide">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="box" style="background-color:green;">4</div>
    <div id="target1" class="box" style="background-color:blue;">5</div>
    <div class="box" style="background-color:indigo;">6</div>
    <div class="box" style="background-color:violet;">7</div>
</body>
</html>