@page
<head>
    <meta charset="UTF-8">
    <title>Animation</title>
    <script src="js/junil.animation.js"></script>
    <script src="~/js/animation.js"></script>
</head>
<body>
    <a href="#" onclick="new junil.Animation({playTarget: 'body'})">애니메이션 실행</a>
    <a href="#" onclick="new junil.Animation({playTarget: 'body', reverse: true})">애니메이션 역실행</a>
    <a href="#" onclick="new junil.Animation({playTarget: 'body', callback: () => { new junil.Animation({playTarget: 'body', reverse: true}) }})">애니메이션 실행 후 역실행</a>
    <section>
        <h1 class="animation left2right">Title 1</h1>
        <p class="animation big2small">Content 1</p>
    </section>
    
    <section>
        <h2 class="animation right2left">Title 2</h2>
        <p class="animation top2btm">Content 2</p>
    </section>
    
    <section>
        <h3 class="animation left2right">Title 3</h3>
        <p class="animation btm2top">Content 3</p>
    </section>
    
    <section>
        <h4 class="animation right2left">Title 4</h4>
        <p class="animation small2big">Content 4</p>
    </section>   
    <section>
        <h5 class="animation left2right">Title 5</h5>
        <p class="animation default">Content 5</p>
    </section>   
    <section>
        <h6 class="animation right2left">Title 6</h6>
        <p class="animation big2small">Content 6</p>
    </section>
</body>